$color-primary: #59918e;
$color-secondary: #dacece;
$color-white: #ffffff;
$color-success: #d55023;

$item-width: 75px;
$item-heigth: 75px;
$border-width: 4px;

$font-size-default: 16px;
$font-size-title: 20px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.selection-stages {
    position: relative;
    overflow: hidden;
    padding-top: 20px;

    &-wrapper {
        position: relative;
        display: flex;
        transition: transform 1.5s ease-in;
    }

    &__part {
        display: flex;
        justify-content: space-between;
        flex: 1 0 100%;
        flex-wrap: wrap;

        &:first-child {
            .selection-stages-item {
                &:first-child {
                    flex: 0 1 auto;

                    .selection-stages-item__number:after {
                        display: none;
                    }
                }
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1 0 auto;
        color: $color-primary;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
        }

        &--done & {
            &__number {
                border-color: $color-primary;
                color: transparent;

                &:after {
                    background-color: $color-primary;
                }

                &:before {
                    display: block;
                    /*width: 200px;
                    transition: width .5s linear;
                    background-color: $color-primary;
                    z-index: 15;*/
                }
            }
        }

        &--done {
            &.success {
                .selection-stages-item__number {
                    border-color: $color-success;
                    background-color: $color-success;
                    color: $color-white;

                    &:after {
                        background-color: $color-primary;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }

        &__number {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $item-width;
            height: $item-heigth;
            border: $border-width solid $color-secondary;
            border-radius: 50%;
            background-color: $color-white;
            margin-bottom: 20px;
            font-size: $font-size-title;
            font-weight: 600;
            z-index: 20;

            &:after {
                content: '';
                position: absolute;
                left: $item-width - $border-width;
                top: 50%;
                transform: translate(0, -50%);
                width: 200px;
                height: $border-width;
                background-color: $color-secondary;
                pointer-events: none;
            }

            &:before {
                display: none;
                content: '\f00c';
                position: absolute;
                font-family: "Font Awesome 5 Free";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-primary;
                /*width: 0;
                transition: width .5s linear;*/
            }
        }

        &__title {}
    }

    &-pagination {
        display: flex;
        justify-content: space-between;

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            color: $color-secondary;

            &:hover, &--active {
                color: $color-primary;
            }

            &__number {
                font-size: 30px;
            }

            &__name {
                margin-left: 5px;
                line-height: 1;
                font-size: 12px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-notices {
        &__item {
            display: none;
        }
    }
}