$color-primary: #96b2b3;
$color-secondary: #eaeaea;
$color-white: #ffffff;

$item-width: 75px;
$item-heigth: 75px;
$border-width: 4px;

$font-size-default: 16px;
$font-size-title: 20px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.selection-stages {
    position: relative;
    overflow: hidden;
    &-wrapper {
        position: relative;
        display: flex;
        transition: transform 1.5s ease-in;
    }

    &__part {
        display: flex;
        justify-content: space-between;
        flex: 1 0 100%;
    }

    &-item {
        color: $color-primary;

        &:hover {
            cursor: pointer;
        }

        &--done & {
            &__number {
                border-color: $color-primary;
                color: transparent;
                &:after {
                    background-color: $color-primary;
                }

                &:before {
                    display: block;
                    /*width: 200px;
                    transition: width .5s linear;
                    background-color: $color-primary;
                    z-index: 15;*/
                }
            }
        }

        &__number {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $item-width;
            height: $item-heigth;
            border: $border-width solid $color-secondary;
            border-radius: 50%;
            background-color: $color-white;
            margin-bottom: 20px;
            font-size: $font-size-title;
            font-weight: 600;
            z-index: 10;

            &:after {
                content: '';
                position: absolute;
                right: $item-width - $border-width;
                top: 50%;
                transform: translate(0, -50%);
                width: 200px;
                height: $border-width;
                background-color: $color-secondary;
                z-index: 5;
            }

            &:before {
                display: none;
                content: '\f00c';
                position: absolute;
                font-family: "Font Awesome 5 Free";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-primary;
                /*width: 0;
                transition: width .5s linear;*/
            }
        }

        &__title {}
    }

    &-notification {
        &__item {
            display: none;
        }
    }
}